footer {
  max-width: 1280px;
  width: 100%;
  padding: 64px 32px 32px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font: 700 1.25rem/1.3 "Syne", sans-serif;

    & img {
      width: 32px;
      transition: rotate 350ms;

      &:hover {
        rotate: 90deg;
      }
    }
  }

  & nav {
    display: flex;
    gap: 32px;

    & a {
      width: fit-content;
      position: relative;

      &:hover::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    & a::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--snitap-sky-mid);
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transform: scaleX(0);
      transition: transform 200ms linear;
    }
  }

  & .social-links {
    display: flex;
    align-items: center;

    & a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 80px;
      position: relative;

      &:hover::before {
        scale: 1;
      }

      & img {
        width: 24px;
        height: auto;
      }

      &::before {
        content: "";
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: var(--snitap-sun);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        scale: 0;
        transition: scale 200ms;
      }
    }
  }
}

@media (max-width: 760px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 480px) {
  footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
