section.gallery {
  width: 100%;
  max-width: 1280px;
  padding: 40px 32px;
  margin-inline: auto;

  & header {
    text-align: center;
  }

  & header span {
    font: 500 var(--text-sm) / 1.5 var(--ff-base);
  }

  & img {
    width: 100%;
    height: auto;
  }

  & .content {
    margin-top: 32px;
    display: grid;
    grid-template-areas:
      "A B B"
      "C C D";
    gap: 40px;
  }

  & figure {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    line-height: 0;
    animation: image-appear linear backwards;
    animation-timeline: view();
    animation-range: 100px 350px;

    &[data-delay] {
      animation-range: 150px 350px;
    }

    & > img {
      height: 400px;
      object-fit: cover;
      transition: scale 500ms;
    }

    &:hover {
      & > img {
        scale: 1.1;
      }

      & figcaption {
        transform: translateY(0);
      }
    }

    &:nth-child(1) {
      grid-area: A;
    }

    &:nth-child(2) {
      grid-area: B;
    }

    &:nth-child(3) {
      grid-area: C;
    }

    &:nth-child(4) {
      grid-area: D;
    }
  }

  & figcaption {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    font: 500 var(--text-sm) / 1.5 var(--ff-base);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 32px;
    background: linear-gradient(to top, rgb(0 0 0 / 0.64), rgb(0 0 0 / 0));
    transform: translateY(100%);
    transition: transform 500ms;

    & > img {
      width: 32px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

@keyframes image-appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media (max-width: 720px) {
  section.gallery {
    & .content {
      display: flex;
      flex-direction: column;
    }
  }

  section.gallery figure {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }

  section.gallery figure figcaption {
    animation: none;
    transform: translateY(0);
    transition: none;
  }
}
